<h1>Upcoming Projects</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas erat ut mi commodo, non malesuada purus sollicitudin. Etiam ac nisi iaculis, egestas magna a, lacinia lorem. Vestibulum et nibh eros. Etiam ac tellus sollicitudin, mattis erat eu, varius urna. Maecenas et pretium neque. Nulla eget nibh a nisi facilisis lacinia porttitor fringilla erat. Donec ultrices faucibus est, at condimentum orci tincidunt et. Morbi quis porta augue. Donec id auctor odio. Nulla tincidunt tempus enim, quis mollis purus accumsan sit amet. Mauris a est aliquam, dignissim odio ut, laoreet massa. Nam convallis risus quis lacus lobortis, vitae adipiscing nunc condimentum.</p>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Riveting. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/blue.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/orange.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Unchallenged. <span class="text-muted">Oh yeah, it's that good.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Enigmatic. <span class="text-muted">Had enough?</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/green.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
